@page "/counter"

    <AuthorizeView Roles="Admin">
        <Authorized>
            <h1>Counter</h1>

            <p>Current count: @currentCount</p>

            <button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
        </Authorized>
        <NotAuthorized>
            You are not authorized to a view this page!
        </NotAuthorized>
    </AuthorizeView>
    
    

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
